<div class="login-container">
  <div class="login-box">
    <div class="login-logo animated fadeInDown">
      <img src="assets/escudo_veracruz.svg" alt="Logo" />
      <h1>CIVIS</h1>
      <p>Sistema de Atención Ciudadana</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login($event)" class="login-form animated fadeInUp">
      @if (loginError) {
      <div class="login-error">{{ loginError }}</div>
      }

      <mat-form-field appearance="outline" class="login-field enhanced-input">
        <mat-icon matPrefix>smartphone</mat-icon>
        <mat-label>Celular</mat-label>
        <input matInput formControlName="email" autocomplete="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-field enhanced-input">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{
            hidePassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </button>
      </mat-form-field>


      <div class="login-links">
        <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
        <a routerLink="/register">Crear una cuenta</a>
      </div>

      <button matButton="elevated" type="submit" class="login-button">
        Iniciar sesión
      </button>
    </form>
  </div>