<div class="navigation" [class.collapsed]="isCollapsed">
  <button mat-icon-button type="button" class="toggle-btn" (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav>
    @for (item of navItems(); let i = $index; track i) {
      <button matButton="" type="button" (click)="navigate(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="nav-label">{{ item.label }}</span>
      </button>
    }

    <button matButton="" type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span class="nav-label">Cerrar sesión</span>
    </button>
  </nav>
</div>
