
@use '../styles' as global;
.app-container {
  @include global.glassmorphism(20px, 0.07, 0.12);
  padding: 2rem;
  margin: 1rem auto;
  max-width: 1200px;
  min-height: 80vh;

}

.app-container.with-navigation main {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.app-container:not(.with-navigation) main {
  width: 100%;
  overflow-y: auto;
  background-color: #f9f9f9;
}
