@use '@angular/material' as mat;
@use 'sass:map';

$paletas: (
  azul: (
  0: #000000,
  10: #001533,
  20: #002966,
  25: #003580,
  30: #0040b3,
  35: #004bcc,
  40: #0055e6,
  50: #0062ff, // tono base
  60: #3384ff,
  70: #66a6ff,
  80: #99c8ff,
  90: #cce9ff,
  95: #e6f4ff,
  98: #f5faff,
  99: #fafcff,
  100: #ffffff
),

  rojo: mat.$red-palette,
  verde: mat.$green-palette,
  amarillo: mat.$yellow-palette,
  morado: mat.$violet-palette,
  naranja: mat.$orange-palette,
  cian: mat.$cyan-palette,
  rosa: mat.$rose-palette,
  magenta: mat.$magenta-palette,
  guinda: (0: #000000,
    10: #250000,
    20: #3f0000,
    25: #5a0000,
    30: #6b0000,
    35: #7b001e,
    40: #8b002b,
    50: #9d1b3d,
    60: #b14559,
    70: #c57075,
    80: #daa0a2,
    90: #eed0cf,
    95: #f7e7e7,
    98: #fcf4f4,
    99: #fefafa,
    100: #ffffff),

  negro: (0: #000000,
    10: #0a0a0a,
    20: #111111,
    30: #191919,
    40: #222222,
    50: #2a2a2a,
    60: #333333,
    70: #3b3b3b,
    80: #444444,
    90: #4d4d4d,
    95: #666666,
    98: #7f7f7f,
    99: #999999,
    100: #ffffff)
);

@function get-palette($color-name) {
  @return map.get($paletas, $color-name);
}