@use '@angular/material' as mat;
@use 'sass:map';
@use './app_theme-colors' as theme;

// Definir color por defecto si no se ha definido antes
$color: negro !default;

// Obtener la paleta personalizada completa (por ejemplo, 'negro')
$primary-palette: theme.get-palette($color);

$secondary-palette: map.get($primary-palette, 'secondary');
$tertiary-palette: map.get($primary-palette, 'secondary'); // usa secondary como tertiary si no tienes otra
$neutral-palette: map.get($primary-palette, 'neutral');
$neutral-variant-palette: map.get($primary-palette, 'neutral-variant');
$error-palette: map.get($primary-palette, 'error');

// Construir el mapa de colores completo requerido por Angular Material
$color-config: (
  primary: $primary-palette,
  secondary: $secondary-palette,
  tertiary: $tertiary-palette,
  neutral: $neutral-palette,
  neutral-variant: $neutral-variant-palette,
  error: $error-palette,
  theme-type: light
);

// Gradiente de fondo dinámico
$color1: map.get($primary-palette, 10);
$color2: map.get($primary-palette, 20);
$color3: map.get($primary-palette, 25);

$radius: 1.2rem;

@mixin glass-overlay {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.5);
}


//Global classes:

.glass-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: $radius;
  @include glass-overlay;
}