@use '@angular/material' as mat;
@use 'sass:map';
@use './app_theme-colors' as theme;

// Definir color por defecto si no se ha definido antes
$color: negro !default;

// Obtener paleta del color
$primary-palette: theme.get-palette($color);

// Extraer tonos
$color1: map.get($primary-palette, 10);
$color2: map.get($primary-palette, 20);
$color3: map.get($primary-palette, 25);
$radius: 1.2rem;
@mixin glass-overlay {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

//Global classes:

.glass-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: $radius;
  @include glass-overlay;
}