@use '@angular/material' as mat;


@use './app_theme-colors' as theme;

// Cambiar este valor según el color deseado
$color: azul; // rojo, verde, morado, etc.

$primary-palette: theme.get-palette($color);
$tertiary-palette: theme.get-palette(morado); // o cualquier otro color

@include mat.core();

html {
  color-scheme: light;

  @include mat.theme((color: (primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  
  color: var(--mat-sys-on-surface);
}

@mixin glassmorphism($blur: 20px,
  $opacity: 1,
  $border-opacity: 1,
  $radius: 20px) {
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  background: rgba(255, 255, 255, $opacity); // luz blanca sobre fondo oscuro
  border: 1px solid rgba(255, 255, 255, $border-opacity);
  border-radius: $radius;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #001764, #0051ad, #004d99);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--mat-sys-on-surface);
  font-family: Roboto, sans-serif;
}