@use '@angular/material' as mat;
@use 'sass:map';
@use './global_variables' as global;

// Angular Material core
@include mat.core();

html {
  color-scheme: light dark;

  @include mat.theme((
    color: (
      primary: global.$primary-palette,
      secondary: global.$secondary-palette,
      tertiary: global.$tertiary-palette,
      error: global.$error-palette,
      neutral: global.$neutral-palette,
      neutral-variant: global.$neutral-variant-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0
  ));
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/wall.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px);
  z-index: -10;
}
